    body{
      background-color: hotpink;
    }
    h1{
      color: #9C27B0;
    }

    img{
      width: 45vw;;
      height: auto;
    }

    .content{
      color:rgb(40,40,40);
    }
    #sub-heading{
      font-size:40px;
      text-align:center;
    }

    nav{
      width: 100vw;
      background-color: #07cd40;
    }

    #nav-list{
      list-style-type: none;
    }

    .list-item{
      display: inline-block;
    }
